[submodule "lib"]
	path = lib
	url = git@github.com:SourceEngine-CommunityEdition/source-lib.git
[submodule "ivp"]
	path = ivp
	url = git@github.com:SourceEngine-CommunityEdition/source-ivp.git
[submodule "thirdparty"]
	path = thirdparty
	url = git@github.com:SourceEngine-CommunityEdition/source-thirdparty.git
