[submodule "ivp"]
	path = ivp
	url = https://github.com/SourceEngine-CommunityEdition/source-ivp.git
[submodule "lib"]
	path = lib
	url = https://github.com/SourceEngine-CommunityEdition/source-lib.git
[submodule "thirdparty"]
	path = thirdparty
    url = https://github.com/SourceEngine-CommunityEdition/source-thirdparty.git
